<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/ticket" method="post">
    <label>title
        <input type="text" name="title"/>
    </label>
    <label>
        body<input type="text" name="body"/>
    </label>
    <label>autherID
        <input type="text" name="author_id"/>
    </label>
    <label>workerID
        <input type="text" name="worker_id"/>
    </label>
    <input type="submit" value="add"/>
</form>
</body>
</html>